:root {
    --bg: #121212;
    --input: #151515;
    --input-highlight: #4d4d4d;
    --font: #ffffff;
    --primary: #BB86FC;
    --primary-variant: #9700B3;
    --border: #1f1f1f;
    --secondary: #03DAC6;
    --error: #B00020;
    --error-outline: #d60027;
    --error-variant: #CF6679;
}

@font-face {
    font-family: code;
    font-weight: normal;
    src: url(fonts/JetBrainsMono-Regular.woff2) format("woff2");
}

@font-face {
    font-family: code;
    font-weight: bold;
    src: url(fonts/JetBrainsMono-Bold.woff2) format("woff2");
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Dark theme colors */
body {
    background-color: var(--bg);
    color: var(--font);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.08);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary-variant);
}

.icon {
    color: var(--font);
}

/* Font size */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.text-secondary {
    font-size: 0.95em;
    font-weight: lighter;
    color: var(--font) !important;
}

/* Cards */
.card {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Alerts */
.alert-danger {
    color: var(--font);
    border-color: var(--error-outline);
    background-color: var(--error);
}

/* Borders */
.selected-border {
    transition: border 0.3s;
    border: solid 1px black;
    border-radius: 0.25rem;
}

.selected-border:focus {
    border: solid 1px var(--primary);
}

.selected-border.selected {
    border: solid 1px var(--primary);
}

.round-img {
    clip-path: circle(50%);
}