.card-snippet {
    margin-bottom: 2rem;
}

.card-snippet .card-header {
    background-color: rgba(255, 255, 255, 0.06);
}

.card-snippet .user-img {
    height: 27px;
    width: auto;
    margin-right: 1rem;
}

.card-snippet .snippet-title-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.code-snippet * {
    font-family: code, monospace;
    font-size: 13px !important;
}

.code-snippet {
    overflow: auto;
    max-width: 100%;
    max-height: 50vh;
}

.code-snippet table {
    border: solid 1px black;
    width: 100%;

    border-radius: 0.25rem;
}

.code-snippet table .col-numbers {
    background-color: rgba(255, 255, 255, 0.06);
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    border-right: solid 1px black;
    user-select: none;
}

.code-snippet table .col-text {
    width: 100%;
    background-color: var(--input);
    padding-right: 0.2rem;
    white-space: pre;
}

.snippet-description {
    margin-bottom: 0;
}

.snippet-language {
    font-family: code, monospace;
    margin-bottom: 0;
}

.snippet-title {
    margin-bottom: 0;
}