/* Forms */
form {
    margin-top: 1rem
}

.form-section {
    margin-bottom: 1.3rem;
}

.card-form {
    display: flex;
    flex-direction: row;
}

.card-form .card {
    border-radius: .025rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-right: 1rem;
}

form input:focus {
    border: solid 1px var(--primary);
}

form input {
    margin-bottom: 0.4rem;
    outline: none;
    min-width: 20rem;
    background-color: var(--input);
    color: var(--font);
    border-radius: 0.25rem;
    padding: 0.3rem 0.6rem;
    border: solid 1px black;
    transition: 0.3s;
}

form .inline-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .inline-input input{
    flex-grow: 1;
}

form textarea.long-text{
    min-width: 60vw;
    margin-bottom: 0.4rem;
}

form textarea {
    outline: none;
    background-color: var(--input);
    color: var(--font);
    padding: 0.3rem 0.6rem;
    border: none;
}
