/* Forms */
form {
    margin-top: 1rem
}

.form-section {
    margin-bottom: 1.3rem;
}

.card-form {
    display: flex;
    flex-direction: row;
}

.card-form .card {
    border-radius: .025rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-right: 1rem;
}

form input:focus {
    border: solid 1px var(--primary);
}

form input {
    margin-bottom: 0.4rem;
    outline: none;
    min-width: 20rem;
    background-color: var(--input);
    color: var(--font);
    border-radius: 0.25rem;
    padding: 0.3rem 0.6rem;
    border: solid 1px black;
    transition: 0.3s;
}

form .inline-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .inline-input input {
    flex-grow: 1;
    margin-bottom: 0;
}

form .inline-input label {
    margin-bottom: 0;
}

form textarea.long-text {
    width: 100%;
    margin-bottom: 0.4rem;
}

form textarea {
    outline: none;
    background-color: var(--input);
    color: var(--font);
    padding: 0.3rem 0.6rem;
    border: none;
}

form select {
    background-color: var(--input);
    color: var(--font);
    outline: none;
    padding: 0.3rem 2rem 0.3rem 0.6rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22gray%22%20class%3D%22bi%20bi-chevron-down%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%22%2F%3E%0A%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.1rem center;
    background-size: 16px 12px;
    appearance: none;
}

.fill-area-form form {
    display: block;
}

.simple-form .wrapper {
    padding: 1.5rem;
}


.label-file-input input {
    display: none;
}