
.logo {
    cursor: pointer;
    height: 2.5rem;
}

#user-img {
    width: 4vmin;
    height: 4vmin;
}

.simple-dropdown-toggle {
    padding: 0;
    background-color: transparent!important;
    box-shadow: none!important;
    border: none!important;
}

.search-wrapper {
    position: relative;
}

.floating-x {
    background-color: transparent;
    border: none;
    color: var(--font);
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    line-height: 0;
}
