.snippets-display {
    display: flex;
    flex-direction: column;
}

.card-snippet {
    margin-bottom: 2rem;
}

.card-snippet .card-header {
    background-color: rgba(255, 255, 255, 0.06);
}

.card-snippet .user-img {
    height: 27px;
    width: auto;
    margin-right: 1rem;
}

.card-snippet .snippet-title {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.test {
    min-height: 25vh;
}